{% extends 'base.html' %}
        {% block title %}Makaan - Real Estate HTML Template{% endblock %}
        {% block content %}

        <!-- Category Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="mb-3">Property Types</h1>
                    <p>Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
                </div>
                <div class="row g-4">
                    {% for category in categories %}
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <a class="cat-item d-block bg-light text-center rounded p-3" href="{{ url_for('category_houses', category_id=categories.id) }}">
                            <div class="rounded p-4">
                                <div class="icon mb-3">
                                    <img class="img-fluid" src="{{ url_for('static', filename='img/' + category_icons[category.name]) }}" alt="Icon">
                                </div>
                                <h6>{{ category.name }}</h6>
                                <span>{{ category.properties|length }} Properties</span>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Category End -->
        {% endblock %}